@import "tailwindcss";

@theme {
  --color-london-red: #DF1B12;
  --color-london-blue: #003688;
  --color-london-gold: #C5A059;
  --color-london-slate: #1E293B;
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

:root {
  font-family: var(--font-inter);
  background-color: var(--color-london-slate);
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-london-slate);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}