google-cloud-aiplatform[adk,agent_engines]>=1.112.0
google-adk[a2a,agent-identity]
google-cloud-logging>=3.13.0
google-cloud-modelarmor
pydantic>=2.12.5
python-dotenv>=1.2.1
google-genai>=1.72
google-auth
aiohttp
