apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: ltc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: db
        image: "{{ .Values.Config.Image.Repository }}/db:{{ .Values.Config.Image.Tag }}"
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_PASSWORD
          value: main
---
apiVersion: v1
kind: Service
metadata:
  name: db-service
  namespace: ltc
spec:
  selector:
    app: db 
  ports:
  - protocol: TCP
    port: 5432  
    targetPort: 5432
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: adminer
  namespace: ltc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adminer
  template:
    metadata:
      labels:
        app: adminer
    spec:
      containers:
        - name: adminer
          image: adminer
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: ltc
  namespace: movieguru
spec:
  selector:
    app: adminer 
  ports:
  - protocol: TCP
    port: 8082  
    targetPort: 8080
  type: ClusterIP